@import url("reset.css");

p {
   color: red;
}
h1 {
   color: green;
}

.title {
   color: orange;
}
#some-id {
   color:aqua;
}
.link2 {
color:lawngreen;
}
   [class*="ist"]{
color:green;
   }
   .list1 {
      color: blueviolet;
   }
   .big_text p {
      color: blue;
   }
   .title + p {
color:gold;
   }